body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f7f5f5;
  margin: 0;
  font-family: sans-serif;
}

.calculator {
  background: #333333;
  padding: 20px;
  border-radius: 10px;
  width: 260px;
}

.display {
  background: rgb(105, 97, 97);
  color: #0f0;
  font-size: 2em;
  padding: 10px;
  text-align: right;
  border-radius: 5px;
  margin-bottom: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 20px;
  font-size: 1.2em;
  background: #f8f8fc;
  color: rgb(11, 11, 224);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #370aef;
}
